#outer {
  height:200px;
  width:70px;
  border:2px solid black;
  border-style: double;
  border-width: 8px;
}
.inner {
  height:50px;
  width:50px;
  border:2px solid black;
  margin:10px;
  border-radius:50%
}
#red {
  background-color: red;
}
#green {
  background-color: green;
}
#yellow {
  background-color: yellow;
}
h3{
  display: inline;
  background-color: green;
}
span{
  display: inline;
  background-color: rgb(144, 0, 24);
}

#box {
  height: 150px;
  width: 300px;
  background-color: grey;
  border: 5px dotted black;
  margin: 20px 1em 40px 2em;
  padding: 1em;
  }

  .box {height: 100px;
    width: 100px;
    background-color: pink;
    border: 2px solid black;
    border-radius: 50%;
    display: inline-block;
    }

    li {
      display: inline;
      }
