<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1> <%=   1 + 3 %></h1>
   <!--ejs tags -==>> to run this we need to run both that is local host and node filename-->
   <h1> <%= "Gayatri".toUpperCase() %></h1>
  
   <h1>this is the home page</h1>
  <p>endus tempore exercitationem itaque autem magni repellat, harum assumenda incidunt modi doloremque commodi. Numquam recusandae dolorem aut ab.</p>
  <button>click me</button>

</body>
</html>