#ok{
  height: 50px;
  width:200px;
  background-color: rgb(248, 32, 13);
  margin: 0 auto;
  margin-top:10px;
  transition: margin-top 2s ease-in-out 0.2s;

}
#ok:hover{
background-color: yellow;
margin-top: 400px;
}