.loader {
  border: 15px solid #eaeaea;
  
  border-top: 16px solid rgb(73, 182, 19);
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  }
  @keyframes spin {
  0% {
  rotate: 180deg;
  }
100% {
 rotate: 360deg;
}
}

